<link rel= "stylesheet" href= "https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">

<H2>Hello we are live</H2>
<h1> {{ title }} </h1>

<form #formtemp = "ngForm" (ngSubmit) = "form_data(formtemp.value)">
  <input type="text" ngModel name="firstname" placeholder="Enter your firstname">
  <br><br>

  <input type="text" ngModel name="lastname" placeholder="Enter your lastname">
  <br><br>
  
  <input type="text" ngModel name="username" placeholder="Enter your username">
  <br><br>

  <input type="email" ngModel name="email" placeholder="Enter your mail-id">
  <br><br>

  <input type="password" ngModel name="pwd" placeholder="Enter your Password">
  <br><br>

  <button>Register</button>
</form>

<br>
<ul>
  <li> {{userdata.firstname}} {{userdata.lastname}} </li>
  <li> {{userdata.username}} </li>
  <li> {{userdata.email}} </li>
  <li> {{userdata.pwd}} </li>
</ul>